<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings configSource="App.private.config" >
    <!-- Add your config, and ensure it copies to output directory -->
    <!-- 
      <add key="StorageConnectionString" value="" />
      <add key="BlobStorageContainerName" value="" />
      <add key="AppName" value="" />
      <add key="InstrumentationKey" value="" />
  
      <add key="SlackWebhookUrl" value="" />
    -->
  </appSettings>
</configuration>