<div class="jumbotron">
    <h1>Sample Web App</h1>
    <p class="lead">Use this web app to send telemetry to AppInsights.</p>
    <p>Be sure to set your <code>InstrumentationKey</code> in ApplicationInsights.config.</p>
</div>
<div class="row">
    <div class="col-md-4">
        @if (!Request.IsAuthenticated)
        {
            <p>
                Click here to log in:
                @Html.ActionLink("Log in", "LogIn", "TestAccount", null, new { @class = "btn btn-primary btn-lg" })
            </p>
        }
        else
        {
            <p>
                Logged in as <b>@(User.Identity.Name)</b>.
                Click here to log out:
                @Html.ActionLink("Log out", "LogOut", "TestAccount", null, new { @class = "btn btn-primary btn-lg" })
            </p>
        }
    </div>
    <div class="col-md-4">
        <p>
            Click here to cause an exception:
            @Html.ActionLink("BOOM", "Index", "TestError", null, new { @class = "btn btn-primary btn-lg" })
        </p>
    </div>
</div>
